*{
  padding: 0;
  margin: 0;
}

.landingPage{
  background-color: rgb(238, 235, 231);
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.loadingBundle{
  width: 80px;
  /* border: 1px red solid; */
  height: 80px;
  position: relative;
}
.loadingBun{
  width: 20px;
  height: 80px;
  /* border: 1px blue solid; */
  position: absolute;
}
.loadingCircle{
  background-color: grey;
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
}
.loadingBun1{
  transform: rotate(0deg);
}
.loadingBun2{
  transform: rotate(60deg);
  opacity: 0.9;
}
.loadingBun3{
  transform: rotate(120deg);
  opacity: 0.8;
}
.loadingBun4{
  transform: rotate(180deg);
  opacity: 0.7;
}
.loadingBun5{
  transform: rotate(240deg);
  opacity: 0.6;
}
.loadingBun6{
  transform: rotate(300deg);
  opacity: 0.5;
}
.loadingText{
  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loadingText span {
  display: inline-block;
  transform: translateY(0);
  transform: translateX(0);
}
.centerCircle{
  height: 1px;
  width: 1px;
  border-radius: 50%;
  background-color: black;
}


body{
  background-color: black;
}








.content{
  display: none;
  background-color: black;
  color: white;
}
.homePage{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.homePage .gridLines{
  position: absolute;
  z-index: 0;
}
.homePage .navbar .navbar2{
  gap: 3vw;
}
.homePage .navbar h2{
  font-size: 1.2vw;
  cursor: pointer;
}
.homePage .navbar span{
  font-size: 1vw;
  color: rgb(163, 163, 163);
  cursor: pointer;
}
.homePage .banner1{
  position: absolute;
  /* border: 1px red solid; */
  top: 24%;
  left: 11%;
  height: 60%;
  width: 34%;
}
.homePage .span1{
  font-size: 1vw;
}
.homePage .span2{
  font-size: 4vw;
  font-weight: bold;
}
.homePage .span3{
  font-size: 0.9vw;
  color: rgb(168, 168, 168);
  margin:2vw 0vw;
}
.homePage button{
  color: black;
  margin-top: 0.2vw;
  background-color: #CBFC01;
  padding: 1vw 2vw;
  font-size: 1vw;
  font-weight: bold;
}
.homePage .banner2{
  position: absolute;
  right: 0;
  top: 24%;
  height: 60%;
  /* border: 1px blue solid; */
  width: 50%;
  overflow: hidden;
}
.homePage .banner2 .ellipse{
  position: absolute;
  right: -8vw;
  height: 100%;
  aspect-ratio: 1/1;
  background-color: #CBFC01;
  border-radius: 50%;
}

.homePage .cardCover{
  position: absolute;
  right: 0;
  top: 1vw;
}
.homePage .cardCover1{
  top: 150px;
}
.homePage .cardCover2{
  top: 25px;
}
.homePage .cardd{
  position: relative;
}
.homePage .demoCard{
  position: absolute;
  height: 100px;
  width: 100px;
  /* border: 1px red solid; */
  top: 327px;
  right: 318px;
  border-radius: 8px;
  backdrop-filter: blur(3px);
}
.homePage .cardd path{
  cursor:text;
}

@media screen and (max-width:500px) {
  .homePage .banner2{
    top: 40vh;
    height: 580px;
    width: 200%;
    transform-origin: 100% 50%;
    scale: 0.5;
  }
  .homePage .banner1{
    top: 15%;
    height: 38%;
    width: 75%;
  }
  .homePage .span1{
    font-size: 3vw;
  }
  .homePage .span2{
    font-size: 10vw;
  }
  .homePage .span3{
    font-size: 2vw;
    margin:4vw 0vw;
  }
  .homePage button{
    font-size: 3vw;
  }
  .homePage .navbar h2{
    font-size: 2.5vw;
  }
  .homePage .navbar span{
    font-size: 2vw;
  }
}